# Common default serial port
TEST_SERIAL_PORT=/dev/ttyUSB0

# Profile-specific serial ports
TEST_SERIAL_PORT_HOST=socket://localhost
TEST_SERIAL_PORT_UNO=/dev/ttyACM0
TEST_SERIAL_PORT_ESP32=/dev/ttyUSB0

# Windows-side location for the uv virtual environment used by run_wsl.sh
UV_PROJECT_ENVIRONMENT_WIN=%TEMP%/.venv.pytest

# pytest options to generate an HTML report
PYTEST_ADDOPTS="--html=report.html --self-contained-html"
