# Common default serial port
#TEST_SERIAL_PORT=/dev/ttyUSB0

# Profile-specific serial ports
TEST_SERIAL_PORT_ESP32S3=/dev/ttyACM0
TEST_SERIAL_PORT_PEER_DEVICE_ESP32S3=/dev/ttyUSB0

# pytest options to generate an HTML report
#PYTEST_ADDOPTS="--html=report.html --self-contained-html"
